.product-title {
  padding: 15px;
  font-size: 50px;
  color: #7f6f8b7d;
  font-family: "Candal", sans-serif;
  -webkit-text-stroke-width: 0.02px;
  -webkit-text-stroke-color: #231d25;
}

.product-line {
  border: 1px solid black;
  margin-top: -15px;
}

.product-create-link-container {
  display: flex;
  justify-content: center;
}

.product-create-link {
  display: flex;
  margin: 15px;
  padding: 10px;
  font-size: larger;
  font-family: "Encode Sans SC", sans-serif;
  border: 2px solid black;
  border-radius: 15px;
  width: 40%;
  justify-content: center;
  background-color: #f1f1f2;
}

.product-create-link:hover {
  transform: scale(1.05);
  box-shadow: -2px 2px 10px #c87177;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.each-product-link {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #f1f1f2;
}

.each-product-link:hover {
  transform: scale(1.05);
  box-shadow: -2px 2px 10px #c87177;
}

.product-information {
  font-size: large;
  font-family: "Encode Sans SC", sans-serif;
}

#details:link,
#create:link,
#details:visited,
#create:visited {
  text-decoration: none;
  color: #7f6f8bcf;
}

@media screen and (max-width: 375px) {
  .category-links-parent {
    display: grid;
    grid-template-columns: repeat(1);
  }
}
