.product-create-parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.product-create-form {
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  background-color: #f1f1f2;
}

.product-create-title-container {
  padding: 20px;
  margin: 10px;
  padding-bottom: 40px;
}

.product-create-title {
  font-size: xx-large;
  font-family: "Candal", sans-serif;
  color: #7f6f8b7d;
  -webkit-text-stroke-width: 0.02px;
  -webkit-text-stroke-color: #231d25;
}

.product-create-name,
.product-create-description,
.product-create-image {
  padding: 25px;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
}

.product-create-label {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  font-weight: bolder;
  align-items: center;
}

.product-create-input {
  width: 50%;
  font-size: medium;
  padding: 5px;
  border-radius: 5px;
}

.product-create-select-category {
  padding: 25px;
}

.select-category {
  width: 50%;
  font-size: large;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid black;
}

.product-create-submit {
  margin: 20px;
  width: 40%;
  font-size: larger;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
  padding: 3px;
  border-radius: 5px;
}
