.product-detail-parent {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 50px;
}

.product-detail-image {
}

.product-detail-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 400px);
  align-content: center; */
}

.product-name-and-desc {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.product-detail-name {
  margin: 20px;
}

.product-detail-description {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 300px;
  height: 200px;
}

.product-detail-actions-parent {
  margin: 20px;
}

.product-detail-delete {
  margin: 10px 10px;
  padding: 5px;
  font-size: medium;
  border-radius: 5px;
}

.product-detail-edit,
.product-detail-add-review {
  margin: 30px 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.reviews-list {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-content: center;
  margin: 50px 20px;
}

.review-container {
  border-radius: 15px;
  margin: 20px;
}

.review-detail {
  align-items: center;
  padding: 10px;
  text-align: left;
  width: 315px;
  height: 110px;
  border: 2px solid black;
  border-radius: 15px;
}

.review-edit {
  display: flex;
  justify-content: center;
}
