.product-parent {
}

.product-title {
  padding: 15px;
  font-size: xx-large;
}

.product-line {
  border: 1px solid black;
  margin-top: -15px;
}

.product-create-link-container {
  display: flex;
  justify-content: center;
}

.product-create-link {
  display: flex;
  margin: 15px;
  padding: 10px;
  font-size: larger;
  border: 2px solid black;
  border-radius: 15px;
  width: 40%;
  justify-content: center;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.each-product-link {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.product-information {
  font-size: large;
}
