.product-edit-parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.product-edit-form {
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  background-color: #f1f1f2;
}

.product-edit-title-container {
  padding: 20px;
  margin: 10px;
  padding-bottom: 100px;
}

.product-edit-title {
  font-size: xx-large;
  font-family: "Candal", sans-serif;
  color: #7f6f8b7d;
  -webkit-text-stroke-width: 0.02px;
  -webkit-text-stroke-color: #231d25;
}

.product-edit-name,
.product-edit-description,
.product-edit-image {
  padding: 30px;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
}

.product-edit-label {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: larger;
  font-weight: bolder;
  align-items: center;
}

.product-edit-input {
  width: 50%;
  font-size: medium;
  padding: 5px;
  border-radius: 5px;
}

.product-edit-submit {
  margin: 20px;
  width: 40%;
  font-size: large;
  border-radius: 5px;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
  padding: 3px;
}

.product-edit-submit:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: -2px 2px 10px green;
  color: black;
}
