.product-edit-parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.product-edit-form {
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
  height: 600px;
}

.product-edit-title-container {
  padding: 20px;
  margin: 10px;
  padding-bottom: 100px;
}

.product-edit-title {
  font-size: xx-large;
}

.product-edit-name,
.product-edit-description,
.product-edit-image {
  padding: 30px;
}

.product-edit-label {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: larger;
  font-weight: bolder;
  align-items: center;
}

.product-edit-input {
  width: 50%;
  font-size: larger;
  padding: 3px;
  border-radius: 5px;
}

.product-edit-submit {
  margin: 20px;
  width: 40%;
  font-size: large;
  border-radius: 5px;
}
