.register-form-parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.register-form-container {
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  background-color: #f1f1f2;
}

.register-title-container {
  padding: 20px;
  margin: 10px;
  padding-bottom: 40px;
}

.register-title {
  font-size: xx-large;
  font-family: "Candal", sans-serif;
  color: #7f6f8b7d;
  -webkit-text-stroke-width: 0.02px;
  -webkit-text-stroke-color: #231d25;
}

.register-username,
.register-email,
.register-password {
  padding: 25px;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
}

.register-label {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  font-weight: bolder;
  align-items: center;
}

.register-input {
  width: 50%;
  font-size: medium;
  padding: 5px;
  border-radius: 5px;
}

.register-button {
  margin: 30px;
  width: 40%;
  font-size: larger;
  border-radius: 5px;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
  padding: 5px;
}
