.review-create-parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.review-create-form {
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  background-color: #f1f1f2;
}

.review-create-title-container {
  padding: 20px;
  margin: 10px;
  padding-bottom: 50px;
}

.review-create-title {
  font-size: xx-large;
  font-family: "Candal", sans-serif;
  color: #7f6f8b7d;
  -webkit-text-stroke-width: 0.02px;
  -webkit-text-stroke-color: #231d25;
}

.review-create-text-container {
  padding: 20px;
}

.review-create-text {
  width: 300px;
  height: 200px;
  font-size: medium;
  border: 2px solid black;
  border-radius: 10px;
}

.review-create-submit {
  margin: 20px;
  width: 40%;
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
}

.review-create-submit:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: -2px 2px 10px green;
  color: black;
}

@media screen and (max-width: 375px) {
  .review-create-form {
    margin: 20px;
  }
}
