.review-edit-parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.review-edit-form {
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  background-color: #f1f1f2;
}

.review-edit-title-container {
  padding: 20px;
  margin: 10px;
  padding-bottom: 50px;
}

.review-edit-title {
  font-size: xx-large;
  font-family: "Candal", sans-serif;
  color: #7f6f8b7d;
  -webkit-text-stroke-width: 0.02px;
  -webkit-text-stroke-color: #231d25;
}

.review-edit-text-container {
  padding: 20px;
}

.review-edit-text {
  width: 300px;
  height: 200px;
  font-size: medium;
  border: 2px solid black;
  border-radius: 10px;
}

.review-edit-delete,
.review-edit-submit {
  margin: 19px;
  width: 40%;
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  font-family: "Encode Sans SC", sans-serif;
  color: #7f6f8bcf;
}
